@font-face {
  font-family: "Anta";
  src: url("/public/fonts/anta/anta.ttf"),
    /* IE9 Compat Modes */

}

#__next {
  background: black;
}
.ytp-title {
  display: none;
}

.video-full,
.test.jarallax {
  width: 100%;
  height: 100%;
}