@font-face {
  font-family: "Anta";
  src: url("/fonts/anta/anta.ttf"),
    /* IE9 Compat Modes */

}

/* #__next {
  background: black;
}

.video-full,
.test.jarallax {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .test.jarallax iframe {
    margin-left: -800px !important;
  }
} */