@font-face {
  font-family: "Lakes";
  src: url("/fonts/lakes/TT Lakes Neue Trial Condensed Black.ttf") format('truetype');
  /* IE9 Compat Modes */
  src: local("../../public/fonts/lakes/TT Lakes Neue Trial Condensed Black.ttf"),
}